<!DOCTYPE html>
<html>
    <head>
        <title>web test</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1><a href='/'>Welcome Python</a></h1>
        <pre>
            <a href='/login'>login</a><a href='/logout'>        logout</a><a href='/join'>            site_join</a><a href='/withdraw'>    site_withdraw</a><br>
            <a href='/create'>menu_create</a><a href='/delete'>     menu_delete</a>
        </pre>
        <ol>
            {{ menu | safe}}
        </ol>

        <form action='/login' method='POST'>
            <p><input type='text' name='id' placeholder="user id"></p>
            <p><input type='password' name='pw' placeholder="password"></p>
            <p><button type=submit>login</button></p>
        </form>
        <p> {{ content }}  </p>
    </body>

</html>